---
import Layout from '../layouts/Layout.astro'
import * as plans from '../content/plans.md'
---

<Layout title='plans'>
  <div class='container'>
    <section>
      <header>
        <h2>free</h2>
        <p><sup>$</sup>0.00</p>
      </header>
      <div class='content'>
        {
          plans.frontmatter.caption.map((caption: string, i: number) => {
            if (i < 3) {
              return (
                <p>
                  <i class='material-icons green'>done</i>
                  <span>{caption}</span>
                  <i class='material-icons'>info</i>
                </p>
              )
            } else {
              return (
                <p>
                  <i class='material-icons red'>clear</i>
                  <span>{caption}</span>
                  <i class='material-icons'>info</i>
                </p>
              )
            }
          })
        }
      </div>

      <button>join</button>
    </section>

    <section>
      <header>
        <h2>basic</h2>
        <p><sup>$</sup>7.99</p>
      </header>
      <div class='content' id='content'>
        {
          plans.frontmatter.caption.map((caption: string, i: number) => {
            if (i < 7) {
              return (
                <p>
                  <i class='material-icons green'>done</i>
                  <span>{caption}</span>
                  <i class='material-icons'>info</i>
                </p>
              )
            } else {
              return (
                <p>
                  <i class='material-icons red'>clear</i>
                  <span>{caption}</span>
                  <i class='material-icons'>info</i>
                </p>
              )
            }
          })
        }
      </div>
      <button>join</button>
    </section>
    <section>
      <header>
        <h2>premium</h2>
        <p><sup>$</sup>19.99</p>
      </header>
      <div class='content' id='content'>
        {
          plans.frontmatter.caption.map((caption: string, i: number) => (
            <p>
              <i class='material-icons green'>done</i>
              <span>{caption}</span>
              <i class='material-icons'>info</i>
            </p>
          ))
        }
      </div>
      <p>this is your current plan</p>
    </section>
  </div>
</Layout>

<style>
  .material-icons {
    user-select: none;
  }
  .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  @media (max-width: 700px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
  section > header {
    border: 2px solid var(--main-bg);
    display: grid;
    justify-items: center;
    padding: 15px 0;
    margin-bottom: 10px;
  }
  section > header > h2 {
    color: #fff !important;
    margin: 0 !important;
  }
  section > header > p {
    color: #fff !important;
    font-size: 35px !important;
    margin: 0 !important;
  }
  section:nth-of-type(1) > button {
    background: var(--green);
  }
  section:nth-of-type(1) > header {
    outline: 2px solid var(--green);
    background: var(--green);
  }
  section:nth-of-type(2) > button {
    background: var(--blue);
  }
  section:nth-of-type(2) > header {
    outline: 2px solid var(--blue);
    background: var(--blue);
  }
  section:nth-of-type(3) > header {
    outline: 2px solid var(--orange);
    background: var(--orange);
  }
  .content > p {
    display: flex;
    gap: 10px;
    text-transform: capitalize;
    padding: 10px 0;
    border-bottom: 1px solid var(--third-bg);
  }
  .content > p > i:last-of-type {
    flex-grow: 1;
    text-align: end;
    cursor: pointer;
    color: var(--second-font-color);
  }
  .red {
    color: var(--red);
  }
  .green {
    color: var(--green);
  }
  .content + button {
    padding: 5px 10px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  section:nth-of-type(3) > p {
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    color: var(--second-font-color);
  }
</style>
