---
import Layout from '../layouts/Layout.astro'
const projects = await Astro.glob('../content/projects/*.md')
---

<Layout title='projects'>
  <div id='container' class='container'>
    {
      projects.map(project => {
        return (
          <section>
            <p class='date'>{project.frontmatter.date}</p>
            <header>
              <h2>{project.frontmatter.name}</h2>
              <p>{project.rawContent()}</p>
            </header>
            <div class='developers'>
              {project.frontmatter.teamImgs.map((srcImg: string) => (
                <img src={`/team/${srcImg}`} alt='team-imgs' />
              ))}
            </div>
            <div class='processes'>
              {project.frontmatter.tags.map((tag: string) => (
                <p>{tag}</p>
              ))}
            </div>
            <footer>
              <progress value={project.frontmatter.progress} />
              <p>${project.frontmatter.sallary}</p>
            </footer>
          </section>
        )
      })
    }
  </div>
</Layout>

<style>
  #container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  }
  #container > section {
    position: relative;
  }
  #container > section > .date {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--second-font-color);
    font-size: 14px;
  }
  #container > section h2 {
    font-size: 18px;
    font-weight: 500;
  }
  #container > section > .developers {
    min-height: 80px;
    display: flex;
    align-items: flex-end;
  }
  #container > section img {
    width: 40px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  #container > section img:not(:first-child) {
    margin-left: -10px;
  }
  #container > section img:hover {
    z-index: 10;
    cursor: pointer;
  }
  #container > section > .processes {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 5px;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid var(--third-bg);
    border-bottom: 1px solid var(--third-bg);
  }
  #container > section > .processes > p {
    padding: 5px;
    font-size: 14px;
    background: var(--third-bg);
    border-radius: 5px;
    text-transform: capitalize;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  @media (max-width: 600px) {
    #container {
      grid-template-columns: auto;
    }
    #container > section > .processes {
      display: grid;
      justify-content: start;
    }
    #container > section > .processes > p {
      width: max-content;
    }
  }
  #container > section > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #container > section > footer > p {
    color: var(--second-font-color);
  }
  #container > section > footer > progress {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
  }
  #container > section > footer > progress::-webkit-progress-bar {
    background: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  #container > section > footer > progress::-webkit-progress-value {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  #container
    > section:is(:nth-of-type(1), :nth-of-type(8), :nth-of-type(9))
    > footer
    > progress::-webkit-progress-value {
    background: var(--red);
  }
  #container
    > section:is(:nth-of-type(2), :nth-of-type(4), :nth-of-type(5))
    > footer
    > progress::-webkit-progress-value {
    background: var(--green);
  }
  #container
    > section:is(:nth-of-type(3), :nth-of-type(7))
    > footer
    > progress::-webkit-progress-value {
    background: var(--blue);
  }
</style>
